@import "nprogress";
@import "fonts";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.shadow-base {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
